$color-primary: #9356DC;
$color-primary-light: lighten($color-primary, 25%);
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-tertiary-dark: darken($color-tertiary, 40%);
$color-light: white;
$color-gray-light: lighten(lightgrey, 13%);
$color-gray-medium:lighten(lightgrey, 9%);
$color-gray-dark:darken(lightgrey, 65%);

$wrapper-width: 950px;