.footer {
    position:relative;
    background-color: $color-gray-dark;
    &--menu{
        margin-top: -1.8rem;
    }
    &__content{
        padding: 1.25rem;
    }
    &__element {
        padding-bottom: 0.4rem;
        &-logo {
            padding-bottom: 1rem;
        }
    }
    &__element-icon {
        padding-right: 0.4rem;
    }
}