@media screen and (min-width: 400px) {
    .restaurants h2 {
        text-align:center;
        margin-bottom: 1rem;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .card {
        width: 360px;
        margin-left: calc((100vw - 418px)/2);
    }
}

@media screen and (min-width: 950px) {
    .header {
        height: 6rem;
        &__img {
            width: 18rem
        }
    }
    .hero-img {
        display: none;
    }
    .menu {
        &1-img, &2-img, &3-img, &4-img {
            margin-bottom: 1.8rem;
            position: relative;
            z-index: 1;
                &::before {
                @include background-image;
                }
        }
        &1-img, &3-img, &4-img {
            height: calc(1071.02px + 15rem);
        }
        &1-img::before {
            background-image: url('../img/img1_lg.jpg');
        }
        &2-img {
            height: calc(1150.58px + 15rem); 
            &::before {
                background-image: url('../img/img2_lg.jpg');
            }
        }
        &3-img::before {
            background-image: url('../img/img3_lg.jpg');
        }
        &4-img::before {
            background-image: url('../img/img4_lg.jpg');
        }
    }

    .home-img {
    position: relative;
    z-index: 1;
        &::before {
        @include background-image;
        background-image: url('../img/img0.jpg');
        }
    }

    .cards:nth-of-type(2n+1){
        margin-left:77px;
    }

    .card {
        max-width: 360px;
        margin: 1%;
    }
    
    .wrapper {
        max-width: 950px;
        left: calc((100vw - 950px)/2);
        &--rounded {
            top: 15rem;
        }
    }

    .footer {
       padding-left: calc((100vw - 950px)/2); 
    }
}