.cta__btn {
    padding:0.8rem 1.3rem;
}
 .order__btn {
    padding:0.8rem 4rem;
 }

.cta__btn, .order__btn {
    cursor: pointer;
    margin-bottom: 1.4rem;
    border-radius: 2rem;
    background: linear-gradient(adjust-hue($color-primary, 50deg), $color-primary);
    box-shadow: 2px 2px 4px 2px $color-primary-light;
    border: none;
    color: $color-light;
}