@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes FadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.home-content {
    animation: FadeIn 1s ease-in 2s;
    animation-fill-mode: forwards;
}
.spinner {
    animation: FadeOut 1s ease-out 1.6s;
    animation-fill-mode: forwards;
    &__loader::before {
        animation: spinner 0.8s ease-in-out infinite;
    }
}

.dish {
    animation: FadeIn 1s linear;
    animation-fill-mode: forwards;
    &:nth-of-type(3n+1){
        animation-delay: 0.3s;
    }
    &:nth-of-type(3n+2){
        animation-delay: 0.6s;
    }
    &:nth-of-type(3n){
        animation-delay: 0.9s;
    }
    &--menu2{
        &:nth-of-type(1){
            animation-delay: 0.3s;
        }
        &:nth-of-type(2) {
            animation-delay: 0.6s;
        }
        &:nth-of-type(3) {
            animation-delay: 0.9s;
        }
        &:nth-of-type(4) {
            animation-delay: 1.2s;
        }
    }
    &:hover {
        & > .dish__choice .dish__choice-icon {
            transform: rotate(360deg);
        }
    }
    &__title {
        @include text-overflow-transition;
    }
    &__desc-ingredients {
        @include text-overflow-transition;
    }
    &__price {
        transition: padding-right 0.5s;
    }
    &__choice {
        transition: width 0.6s;
        &-icon {
            transition: transform 0.45s;
        }
    }
}