.localisation {
    background-color: $color-gray-medium;
    padding: 0.7rem 0;
    &__icon {
        padding-right: 1rem;
    }
}

.cta {
    background-color: $color-gray-light;
    padding:1.6rem;
    & .title__secondary {
        padding-bottom: 1.8rem;
    }
    &__subtitle {
        padding-bottom: 1.4rem;
    }
}

.instructions {
    padding: 2.5rem 1.5rem 1.8rem 1.5rem;
    &__content {
        padding-bottom: 1rem;
    }
    &__item {
        background-color: $color-gray-light;;
        padding: 1.5rem;
        @include card-structure;
        &:hover {
        .instructions__icon {
            color: saturate($color-primary, 100%);
            }
        }
    }
    &__steps {
        position: absolute;
        background-color: $color-primary;
        color: $color-light;
        padding: 0.2rem 0.42rem;
        left: 1.1rem;
        border-radius: 50%;
    }
    &__icon {
        color: $color-gray-dark;
        padding:0 0.7rem;
    }
}

.restaurants {
    background-color: $color-gray-light;
    padding: 3rem 1.5rem;
}

.card {
    &__content {
        position: relative;
        background-color: $color-light;
        @include card-structure;
    }
    &__img {
        height: 10rem;
        border-top-left-radius: 1.2rem ;
        border-top-right-radius: 1.2rem;
        object-fit: cover;
        object-position: bottom;
        &--lower {
            object-position: 0 -3.3rem;
        }
    }
    &__text {
        padding: 0.9rem;
    }
    &__like{
        &::after {
        position: absolute;
        top: 11.5rem;
        left: 16rem;
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        content: '\f004';
        }
        &:active::after {
            font-weight: 700;
        }
    }
    &__status {
        position: absolute;
    }
}