.header__return-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

img {
    width: 100%;
    height: 100%;
}

.dish {
    border: solid 1px $color-light;
    border-radius: 0.8rem;
    margin: 0.8rem 0;
    padding: 0.7rem 1.2rem 0.7rem 0.7rem;
    background-color: $color-light;
    &__title {
        margin-bottom: 0.4rem;
    }
    &__desc {
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
    }
}

.menu__title--secondary {
    margin: 2rem 0rem 1.1rem 0.3rem;
    &--underline {
        border-bottom: 0.2rem solid $color-tertiary;
        padding-bottom: 0.15rem;
    }
}

.order {
    padding: 1.8rem;
}

